/* Styles pour la photo de profil */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
  /*Blur background , black and transparent*/
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  position: relative;
  overflow: hidden;
  color: var(--white);
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  /* Fallback for browsers that do not support backdrop-filter */
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  /* Modern browsers */
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  /* Fallback for older browsers */
  background: rgba(0, 0, 0, 0.5);
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.20);
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  text-align: left;
  flex: 1;
  min-width: 300px;
}

@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
  }
  
  .profile-info {
    text-align: center;
  }
}
